/* modal overlay */
.modal-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(15, 23, 42, 0.95); 
    backdrop-filter: blur(5px); 
    display: none; 
    justify-content: center; 
    align-items: flex-start; 
    z-index: 1000; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    padding-top: 20px; 
    overflow-y: auto; 
    padding-bottom: 20px; 
    box-sizing: border-box;
}

.modal-overlay.active { display: flex; opacity: 1; }

/* modal content */
.modal-content { 
    background: #1e293b; 
    padding: 20px; 
    border-radius: 16px; 
    border: 1px solid var(--border-color); 
    max-width: 800px; width: 90%; 
    position: relative; 
    box-shadow: 0 20px 50px rgba(0,0,0,0.5); 
    transform: scale(0.9); 
    transition: transform 0.3s ease; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 20px;
}
.modal-overlay.active .modal-content { transform: scale(1); }

/* modal close button*/
.close-btn { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: #1e293b;
    border: none; 
    color: var(--text-secondary); 
    font-size: 2rem; 
    cursor: pointer; 
    z-index: 10; 
    padding: 0 10px; 
    border-radius: 50%; 
    line-height: 1;
}

/* mobile layout opti */
@media (max-width: 768px) {
    .modal-content { 
        width: 95%; 
        padding: 15px; 
        margin-top: 10px; 
    }
    .modal-content h2 { 
        font-size: 1.2rem; 
        padding-right: 30px; 
    }
}